In [108]:
import scrapy
import requests
from scrapy.selector import Selector
import numpy as np
import pandas as pd
import re

In [4]:
url = 'http://www.imdb.com/chart/top'
resp = requests.get(url)
html = resp.text

In [99]:
sel = Selector(text = html)
base_xpath = '//*[@id="main"]/div/span/div/div/div[3]/table/tbody//tr/td[2]'
name = sel.xpath(base_xpath).xpath('./a/text()').getall()
#print(name)

In [104]:
year = sel.xpath(base_xpath).xpath('./span/text()').getall()
#print(year)

In [109]:
year =  [re.search('\((.*?)\)', yr).group(1) for yr in year]
Movie_List = pd.DataFrame({
        'Movie Name' : name,
        'Release Date' : year
    },columns = ['Movie Name','Release Date'])

In [110]:
Movie_List.head()

                 Movie Name Release Date
0  The Shawshank Redemption         1994
1             The Godfather         1972
2    The Godfather: Part II         1974
3           The Dark Knight         2008
4              12 Angry Men         1957